/* Sets box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removes default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Removes default list styling on ul, ol elements with a list role */
ul:where([role='list']),
ol:where([role='list']) {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Sets core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Gives default styling to a elements that don't have a class */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Makes images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Inherits fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Removes all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
